* {
    margin: 0;
}

body,
html {
    width: 100%;
}

.header {
    background-color: goldenrod;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 30px;
    padding-left: 30px;
    margin-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
    margin-left: 50px;
}

.logo span {
    font-size: 24px;
    color: #7d2ae8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navigation a {
    font-size: 16px;
    color: black;
    text-decoration: none;
    margin-right: 40px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navigation a:hover {
    color: white;
    transition: 0.35s;
    font-size: larger;
}

.header  #twogele {
    text-decoration: none;
    margin-top: 3px;
    margin-right: 4%;
    color: white;
    background: #7d2ae8;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 10px;
    border-color: #7d2ae8;
    border-style: solid;
    border-width: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header  #twogele:hover {
    background-color: white;
    color: #7d2ae8;
}

.main-content {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-content h2 {
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-content h2 span {
    color: #7d2ae8;
    margin-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-content h4 {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-content p {
    padding: 10px 0 40px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button-group a {
    text-decoration: none;
    color: white;
    background: #7d2ae8;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 10px;
    border-color: #7d2ae8;
    border-style: solid;
    border-width: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button-group .blue-btn:hover {
    background: white;
    color: #7d2ae8;
}

.button-group .white-btn {
    background: white;
    color: #7d2ae8;
    margin-left: 30px;
}

.button-group .white-btn:hover {
    background: #7d2ae8;
    color: white;
}

.Profile-pic {
    width: 500px;
    height: 850px;
    border-radius: 50%;
    /*overflow: hidden;*/
}

.profile-info {
    max-width: 500px;
}

.Profile-pic img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: fixed;
}

.icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    color: white;
    margin-top: 100px;
    text-decoration: none;
    background: #7d2ae8;
    border-radius: 50%;
    margin-right: 22px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #fff;
    outline: 2px solid #7d2ae8;

}

.icons a:hover {
    transition: .3s;
    background-color: white;
    color: #7d2ae8;
}